/*		////\\\\		ALTEZZE			////\\\\		*/
@media screen and (min-height: 240px) and (max-height: 420px) {

	.banner	{
		position: relative;
		height: 50px;
		margin-bottom: -50px;
			}
	.main-banner		{
		border-bottom: 3px solid #a1bbe0;
			}
	.menu-banner	{
		display: none;
			}
			
	.logo-banner img {
		max-width: 100px;
		margin-left: 5px;
		margin-top: 8px;
			}
			
	.titolo-banner		{
		float: left;
		font-size: 1.0em;
		margin-top: 16px;
			}
			
	.main-content		{
		margin: 50px auto;
			}
			
	.footer	{
		height: 50px;
		margin-top: -50px;
	}
	
	.dynamic {
		margin-top: -10px;
	}
	
	#footer-content		{
		cursor: pointer;
	}
	
	.tastiera		{
		margin-top: -6px;
	}
	
}

@media screen and (min-height: 800px)  {

.footer	{
	/*position: relative;*/
	}

}