<?xml version="1.0"?>
<configuration>
<system.webServer>
	<rewrite>
		<rules>
			<rule name="rA">
				<match url="^([A-Za-z0-9]*)A([a-z0-9]*)$" />
				<action type="Rewrite" url="404.php" />
			</rule>
			<rule name="rB">
				<match url="^robots.txt$" />
				<action type="Rewrite" url="404.php?f=robots" />
			</rule>
			<rule name="rC">
				<match url="^(sitemap|site|map).xml$" />
				<action type="Rewrite" url="404.php?f=sitemap" />
			</rule>
		</rules>
	</rewrite>
</system.webServer>
</configuration>