.add				{
			background: url('../images/icone_barra/FFFFFF/add.png') no-repeat center center;
	}
	
.adduser			{
			background: url('../images/icone_barra/FFFFFF/adduser.png') no-repeat center center;
	}


.ok				{
			background: url('../images/icone_barra/FFFFFF/ok.png') no-repeat center center;	
	}
	
.delete			{
			background: url('../images/icone_barra/FFFFFF/cestino.png') no-repeat center center;
	}
	
.out				{
			background: url('../images/icone_barra/FFFFFF/exit.png') no-repeat center center;
	}

.edit				{
			background: url('../images/icone_barra/FFFFFF/modify.png') no-repeat center center;
	}
	
.cancel			{
			background: url('../images/icone_barra/FFFFFF/left_arrow.png') no-repeat center center;
	}

.back {
			background: url('../images/icone_barra/FFFFFF/left_arrow.png') no-repeat center center;
	}
	
.settings 		{
			background: url('../images/icone_barra/FFFFFF/settings.png') no-repeat center center;
	}
	
.maximize		{
			background: url('../images/icone_barra/FFFFFF/max.png') no-repeat center center;
	}

.backup			{
			background: url('../images/icone_barra/FFFFFF/backup.png') no-repeat center center;
	}

.menu			{
			background: url('../images/icone_barra/FFFFFF/menu.png') no-repeat center center;
	}
	
.restore			{
			background: url('../images/icone_barra/FFFFFF/restore.png') no-repeat center center;
	}
	
