.add {
			background: url('../images/icone_barra/4E8CC2/add.png') no-repeat center center;
	}
	
.adduser {
			background: url('../images/icone_barra/4E8CC2/adduser.png') no-repeat center center;
	}
	
.ok	{
			background: url('../images/icone_barra/4E8CC2/ok.png') no-repeat center center;	
	}

.delete			{
			background: url('../images/icone_barra/4E8CC2/cestino.png') no-repeat center center;
	}
	
.out				{
			background: url('../images/icone_barra/4E8CC2/exit.png') no-repeat center center;
	}

.edit				{
			background: url('../images/icone_barra/4E8CC2/modify.png') no-repeat center center;
	}
	
.cancel			{
			background: url('../images/icone_barra/4E8CC2/left_arrow.png') no-repeat center center;
	}

.back {
			background: url('../images/icone_barra/4E8CC2/left_arrow.png') no-repeat center center;
	}
	
.settings 		{
			background: url('../images/icone_barra/4E8CC2/settings.png') no-repeat center center;
	}
	
.maximize		{
			background: url('../images/icone_barra/4E8CC2/max.png') no-repeat center center;
	}

.backup			{
			background: url('../images/icone_barra/4E8CC2/backup.png') no-repeat center center;
	}

.menu			{
			background: url('../images/icone_barra/4E8CC2/menu.png') no-repeat center center;
	}
	
.restore			{
			background: url('../images/icone_barra/4E8CC2/restore.png') no-repeat center center;
	}
	
	
	
