
<div  id="#id#" name="#id_not#" class="block-news block-color-#pagina#">

				<div id="box-titolo" class="box-titolo class-#pagina#">#titolo#</div>
				<div class="categoria">#pagina#</div>
				<div id="#anno#" class="box-data#zona#">
						<div class="block-anno">#anno#</div>
						<div class="block-giorno">#giorno#</div>
						<div class="block-mese">#mese#</div>
				</div>
				<div id="box-image" class="box-image">
						<img src="#immagine#"	alt="&nbsp; nessuna immagine&nbsp;&nbsp;"/>
				</div>
				<div id="box-text" class="box-text">#testo#</div>
				<div class="box-footer-news box-#pagina#" onclick="location.href = 'eventi.php?news=#id#&pagina=#pagina#&search=#search#';">
				leggi tutto...  >
				</div>
</div>
<div class="fine-news #id_not#"></div> 
<!--	fine notizia	--> 