
<div class="scheda-news">
	
	<div class="scheda-news-colonne sx">
		<div class="scheda_news_tipo">#categoria#</div>	<!--	tipo notizia (eventi, news, ecc) -->
		<div id="titolo" class="scheda_news_titolo">#titolo#</div><!--titolo-->
		<div id="super_cont" class="scheda_news_foto" style="display:block;"><img id="foto" src="#foto#" alt="&nbsp; no immagine" title="foto"></div><!--foto-->
		<div class="scheda-dati">
			<div class="scheda_news_indirizzo"  style=" display:#data_evento_vis#"><b>Data :</b>&nbsp; &nbsp; #data_evento#</div><!--data_evento-->
			<div class="scheda_news_indirizzo"  style=" display:#gruppo_vis#"><b>Gruppo Ospitante :</b>&nbsp; &nbsp; #gruppo#</div><!--gruppo-->
			<div class="scheda_news_indirizzo" style=" display:#localita_vis#"><b>Località :</b>&nbsp;#localita#</div><!--localita-->
			<div class="scheda_news_indirizzo" style=" display:#telefono_vis#"><b>Telefono :</b>&nbsp;#telefono#</div><!--telefono-->
		</div>
	</div> <!-- Fine colonna 1 -->

	<div class="scheda-news-buttons dx">
				<!--			DATA 			-->
				<div id="data" class="scheda-btn first" >Data Evento 
					<div class="icona-btn calendar-btn"></div>
					<div class="data-btn">#data_evento#</div>
				</div><!--data_evento-->
			
				<!--			TAGS 			-->
				<div id="parole-chiave" class="scheda-btn hoverable"  style="display:#tags_vis#;" >Tags
					<div class="icona-btn tags-btn"></div>
					<div id="box_tags" class="cont-tags">﻿
﻿﻿						<ul class="cont-keys">#tags#</ul>
					</div>
				</div><!--tags-->
		<!--			GoogleMaps® 			-->
		<div id="mappa-go" class="scheda-btn hoverable" style="display:#embed_vis#;">GoogleMaps® 
				<div class="icona-btn map-btn"></div>
				<div class="cont-map">#embed#
				</div>
		</div><!--embed-->
		
		<!--			video			-->
		<div id="video" class="scheda-btn hoverable" style="display:#video_vis#;" name="#video#" >Guarda il video 
				<div class="icona-btn video-btn"></div>
		</div><!--video-->
		
		<!--			LINK 1 			-->
			<div id="link1" class="scheda-btn hoverable"  style="display:#link_1_vis#;" >Link 
				<div class="icona-btn link-btn"></div>
				<div class="data-btn">#link_1#</div>
			</div><!--link_1-->
		
		<!--			LINK 2 			-->
		<div id="link2" class="scheda-btn hoverable"  style="display:#link_2_vis#;" >Link 
				<div class="icona-btn link-btn"></div>
				<div class="data-btn">#link_2#</div>
		</div><!--link_2-->

			
		<!--			doc PDF					-->
		<div id="pdf-go" class="scheda-btn hoverable" style="display:#pdf_vis#;">Scarica PDF 
				<div class="icona-btn pdf-btn"></div>
				<div class="cont-pdf"  style="visibility: hidden">#pdf#</div>
		</div><!--doc_pdf-->
		
		<!--		 E-mail			-->
		<div id="mail" class="scheda-btn hoverable" style="display:#info_mail_vis#;" >Contatto 
				<div class="icona-btn mail-btn"></div>
				<div class="data-btn">#info_mail#</div>
		</div><!--info_mail-->
		
		<!--		 condividi su FaceBook			-->
		<div id="fb-go" class="scheda-btn hoverable" onclick="return share('#id#', '#categoria#');" >Condividi 
				<div class="icona-btn fb-btn"></div>
		</div><!-- NULL -->

		<!--		 condividi su FaceBook			-->
		<div id="return-go" class="scheda-btn hoverable" onclick="location.href = 'index.php';" >Indietro
				<div class="icona-btn return-btn"></div>
		</div><!-- NULL -->
		
		
	</div> <!-- Fine colonna 2 -->
	
<div style="width:100%;clear:both;height:20px;"></div>
<hr><br>
<div class="scheda_news_descrizione"><strong  style="display:#sottotitolo_vis#">#sottotitolo#</strong><br>#testo#</div>
</div> <!-- fine scheda news -->

<div style="width:100%;clear:both;height:3px;"></div>
<!-- ******************** ultimi eventi ********************* -->

